<header class="section navbar">
  <div class="section__container">
    <button aria-label="Open mobile menu" class="navbar__button js-button-menu button--menu">
      <i class="button__inner"></i>
    </button>
    <div class="navbar__logo">
      <h1>Logo</h1>
    </div>
    <nav class="navbar__nav nav">
      <div class="nav__container">
        <ul class="nav__group">
          <li class="nav__item"><a href="" class="nav__trigger">Nav 1</a></li>
          <li class="nav__item"><a href="" class="nav__trigger">Nav 2</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
