{% assign direction = include.direction %}

<div class="input">
  <legend class="input__label">Label</legend>
  <div class="input__control radios{% if direction %} radios--{{ direction}}{% endif %}">
    <div class="radio">
      <input type="radio" name="example" id="example_1" value="example_1" class="radio__control" />
      <label for="example_1" class="radio__label">Radio 1</label>
    </div>
    <div class="radio">
      <input type="radio" name="example" id="example_2" value="example_2" class="radio__control" />
      <label for="example_2" class="radio__label">Radio 2</label>
    </div>
  </div>
</div>
