# Site settings
title: Pallote CSS
description: >-
  Lightweight CSS component library
url: https://pallote.com

# Additional settings
timezone: Europe/London
permalink: /:title

# permalinks config
permalink: /:path
collections:
  components:
    output: true
    permalink: /components/:path

# Build settings
plugins:
  - jekyll-feed
  - jekyll-inline-svg
  - jekyll-liquify
# jekyll-inline-svg
svg:
  optimize: true
# compress vendor
# http://jch.penibelst.de/
compress_html:
  clippings: []
  comments: ["<!-- ", " -->"]
  endings: []
  ignore:
    envs: []
  blanklines: true
  profile: false
  startings: []
# autoprefixer
autoprefixer:
  browsers:
  - last 10 versions
# sass
sass:
  sass_dir: assets/_sass
  style: compressed

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
