// In order to have a clean a easy to use font, give the same font-family name to all styles.
// You can then sort them by using the font-style (normal or italic) property

// —————————————————————————————————————————————————————————————————
// list of styles and their weight equivalent
// —————————————————————————————————————————————————————————————————
// style name               weight  variable
// —————————————————————————————————————————————————————————————————
// thin, hairline           100     $thin
// extralight, ultralight   200     $extralight
// light                    300     $light
// normal, regular          400     $regular
// medium                   500     $medium
// semibold, demibold       600     $semibold
// bold                     700     $bold
// extrabold, ultrabold     800     $extrabold
// black, heavy             900     $black
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// barlow
// —————————————————————————————————————————————————————————————————

@include fontface('Barlow', barlow/barlow-regular, $font-regular, normal);
@include fontface('Barlow', barlow/barlow-italic, $font-regular, italic);

@include fontface('Barlow', barlow/barlow-semibold, $font-bold, normal);
@include fontface('Barlow', barlow/barlow-semibold-italic, $font-bold, italic);
