// —————————————————————————————————————————————————————————————————
// color
// spacing
// font
// anchor points
// misc
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

// main

$white: #ffffff;
$black: #000a1e;

// grey

$grey-90: #1A2335;
$grey-80: #333B4B;
$grey-70: #4D5462;
$grey-60: #666C78;
$grey-50: #7F848E;
$grey-40: #999DA5;
$grey-30: #B2B5BB;
$grey-20: #CCCED2;
$grey-10: #E5E6E8;
$grey-5: #F2F3F4;

// text

$text: $white;
$text-alt: rgba($white, 0.5);
$text-disabled: rgba($white, 0.25);

$text-contrast: $black;
$text-contrast-alt: rgba($black, 0.6);
$text-contrast-disabled: rgba($black, 0.3);

// brand

$primary-light: #B3FFED;
$primary: #00FFC4;
$primary-dark: #00DBA9;
$primary-text: $text-contrast;

$secondary-light: #B1B9D4;
$secondary: #4D5C8D;
$secondary-dark: #3D4971;
$secondary-text: $text;

$highlight-light: #F9D7B8;
$highlight: #F2994A;
$highlight-dark: #EF7910;
$highlight-text: $text-contrast;

// background

$success-light: #E7F9EE;
$success: #27AE60;
$success-dark: #1C7C44;
$success-text: #155F34;
$success-contrast: $text;

$info-light: #E9F8FD;
$info: #17A0CC;
$info-dark: #117798;
$info-text: #0D5A72;
$info-contrast: $text;

$warning-light: #FFFAE5;
$warning: #FFDC46;
$warning-dark: #E5BA00;
$warning-text: #685400;
$warning-contrast: $text-contrast;

$error-light: #FCE7E7;
$error: #EB5757;
$error-dark: #D31919;
$error-text: #9C1212;
$error-contrast: $text;

// feedback

$background-default: $black;
$background-paper: $grey-90;

// others

$border: 1px solid rgba($white, 0.2);
$hover: rgba($white, 0.12);
$overlay: rgba($black, 0.8);

// —————————————————————————————————————————————————————————————————
// spacing
// —————————————————————————————————————————————————————————————————

// misc
$col: calc(100%/12);

$spacing-xxs: 0.125rem; // 4px
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 2.5rem; // 40px
$spacing-xl: 5rem; // 80px
$spacing-xxl: 7.5rem; // 120px

$max-width-subtitle: $spacing-xxl*4;

$navbar-height: 4rem;

// —————————————————————————————————————————————————————————————————
// font
// —————————————————————————————————————————————————————————————————

// typefaces

$font: "Barlow", Arial, sans-serif;

// weight

$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// —————————————————————————————————————————————————————————————————
// anchor points
// —————————————————————————————————————————————————————————————————

$desktop-lg-up: 1440px;
$desktop-lg-down: 1439.98px;

$desktop-up: 1280px;
$desktop-down: 1279.98px;

$laptop-up: 1024px;
$laptop-down: 1023.98px;

$tablet-up: 768px;
$tablet-down: 767.98px;

$mobile-up: 568px;
$mobile-down: 567.98px;

$mobile-sm-up: 350px;
$mobile-sm-down: 349.98px;

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

// box-shadow

$box-shadow: 0 0 $spacing-sm 0 rgba($black, 0.2);

// transition

$transition-md: 0.4s ease 0s;
$transition-lg: 0.8s ease 0s;

// border-radius

$border-radius-sm: $spacing-xs;
$border-radius-md: $spacing-sm;
$border-radius-lg: $spacing-md;
