// ——————————————————————————————————————————————————
// elements
// color
// notice
// dense
// noIcon
// ——————————————————————————————————————————————————

$spacing-alert: $spacing-md*0.75;

// ——————————————————————————————————————————————————
// elements
// ——————————————————————————————————————————————————

.alert {
  border-radius: $spacing-sm;
  background-color: $info-light;
  color: $info-text;
  padding: $spacing-alert $spacing-md;
  position: fixed;
  top: $spacing-md;
  right: $spacing-md;
  max-width: $spacing-xxl*3;
  min-width: $spacing-xxl*2;
  z-index: 200;

  &:not(.alert--notice) {
    padding-left: $spacing-lg;
  }

  @include responsive(down, mobile) {
    @include calc(max-width, '100vw - '$spacing-md);
    right: 8px;
    top: $spacing-sm;
  }
  
  @include responsive(down, mobile-sm) {
    @include calc(width, '100vw - '$spacing-md);
  }

  &:before {
    content: "";
    position: absolute;
    top: $spacing-alert;
    left: $spacing-sm;
    height: $spacing-md*1.5;
    width: $spacing-md*1.5;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-weight: $font-bold !important;
    
    + .alert__title,
    + .alert__subtitle {
      margin-top: $spacing-xxs;
    }
  }

  &__subtitle {
    @extend .caption;
    padding-bottom: 0.2em;
  }

  &__close {
    transition: opacity $transition-md;
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
    line-height: 0;

    svg {
      width: $spacing-sm;
      height: $spacing-sm;
      fill: $success-dark
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

// ——————————————————————————————————————————————————
// color
// ——————————————————————————————————————————————————

@mixin color($color, $color-light: $info-light, $color-text: $info-text) {
  @if $color == success { $color-light: $success-light; $color-text: $success-text; } 
  @else if $color == info { $color-light: $info-light; $color-text: $info-text; } 
  @else if $color == warning { $color-light: $warning-light; $color-text: $warning-text; } 
  @else if $color == error { $color-light: $error-light; $color-text: $error-text; } 

  background-color: $color-light;
  color: $color-text;

  &:not(.alert--notice):before {

    @if $color == success { content: url('../icons/phosphor/check-circle.svg'); }
    @else if $color == info { content: url('../icons/phosphor/info.svg'); }
    @else if $color == warning { content: url('../icons/phosphor/warning.svg'); }
    @else if $color == error { content: url('../icons/phosphor/x-circle.svg'); }
  }
}

.alert {

  &--success { @include color(success); }
  &--info { @include color(info); }
  &--warning { @include color(warning); }
  &--error { @include color(error); }
}

// ——————————————————————————————————————————————————
// notice
// ——————————————————————————————————————————————————

.alert {
  
  &--notice {
    position: relative;
    top: 0;
    right: 0;
    max-width: none;
    width: 100%; // needed for small devices to not overflow the container
    z-index: 1;
    border-radius: 0;
    text-align: center;
  }
}

// ——————————————————————————————————————————————————
// dense
// ——————————————————————————————————————————————————

.alert--dense {
  padding: $spacing-alert*0.5 $spacing-sm;

  &:before {
    top: $spacing-alert*0.5;
    left: $spacing-alert*0.5;
    height: $spacing-md*1.25;
    width: $spacing-md*1.25;
  }

  &:not(.alert--notice) {
    padding-left: $spacing-md*2;
  }

  .alert__title {

    + .alert__title,
    + .alert__subtitle {
      margin-top: 0;
    }
  }

  .alert__title { @extend .caption; }
  .alert__subtitle { @extend .overline; }
}

// ——————————————————————————————————————————————————
// noIcon
// ——————————————————————————————————————————————————

.alert.alert {

  &--noIcon {    
    padding-left: $spacing-md;
    
    &.alert--dense {
      padding-left: $spacing-sm;
    }
    
    &:before {
      display: none;
    }
  }
}
