// —————————————————————————————————————————————————————————————————
// elements
// size
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo,
  &__header,
  &__content {
    position: relative;
  }

  &__logo {
    height: $spacing-xl;
    width: auto;
  }

  &__content {
    width: 100%;
  }

  &__label {
    @extend %caption;
  }

  &__title {
    color: $primary;
  }

  &__subtitle {
    font-weight: $font-bold;
  }

  &__media,
  &__mediaInner {
    overflow: hidden;
    border-radius: $border-radius-md;
  }

  &__mediaInner {
    padding-bottom: 66.66%;
  }

  &__icon {
    height: $spacing-lg + $spacing-md;
    width: $spacing-lg + $spacing-md;
  }

  &__actions {
    margin-top: auto; // when grid with multiple cards, aligns the buttons vertically at the bottom of the card
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($proportion, $size) {

  .card {

		&__media,
		&__header,
		&__content,
		&__actions {

			&:not(:first-child) {
				margin-top: $size;
			}
		}

		&__image {
			border-radius: calc($size/3);
		}

		&__label {

			& + .card__title {
        margin-top: calc($size/3);
			}
		}
	
		&__title,
		&__subtitle {
	
			& + .card__subtitle {
				margin-top: $size*0.5;
			}
		}

    &__title {

      @if $proportion == sm { @extend %h6; @extend %text--bold; }
      @else if $proportion == md { @extend %h5; }
      @else if $proportion == lg { @extend %h4; }
    }

    &__subtitle {

      @if $proportion == sm { @extend %body; @extend %text--bold; }
      @else if $proportion == md { @extend %subtitle; }
      @else if $proportion == lg { @extend %h5; }
    }
	}

  &.card--background {
    background-color: $background-paper;
    padding: $size*2;
    border-radius: $size*2;
  }
}

.card {

  &--sm { @include size(sm, $spacing-sm); }
	&--md { @include size(md, $spacing-md); }
	&--lg { @include size(lg, $spacing-md*1.5); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.card--project {

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay;
  }
}