.link {
  display: inline-flex;
  align-items: center;
  font-weight: $font-regular;
  color: $primary;
  text-decoration: underline;
  white-space: nowrap;

  svg {
    @include transition($transition-md, stroke-width);
    height: 1em;
    width: 1em;
    margin-left: 0.25em;
    stroke-width: 2;
  }
}
