// ——————————————————————————————————————————————————
// elements
// withSidebar
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// elements
// ——————————————————————————————————————————————————

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &__content {
    background-color: $background-default; // override browser default color
    width: 100%;
  }
}

// ——————————————————————————————————————————————————
// withSidebar
// ——————————————————————————————————————————————————

.page--withSidebar {

  .page__container {
    display: flex;
  }

  .section__container {
    max-width: none;
  }
}
