// —————————————————————————————————————————————————————————————————
// elements
// alignement
// color
// size
// variants
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.section {
  overflow: hidden; // prevent horizontal scroll on mobile
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include clamp(padding-right, $spacing-md, 4vw, $spacing-xl);
  @include clamp(padding-left, $spacing-md, 4vw, $spacing-xl);
  text-align: center;

  &__container,
  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    @include clamp(padding-top, $spacing-lg, 8vw, $spacing-xl);
    @include clamp(padding-bottom, $spacing-lg, 8vw, $spacing-xl);
    width: 100%;
    max-width: $desktop-up;
    position: relative; // needed to have the content over section--landing:before
  }

  &__header {

    & + .section__content {
      @include clamp(padding-top, $spacing-lg, 8vw, $spacing-xl);
    }
  }

  &__content {
    width: 100%;

    & + & {
      margin-top: $spacing-lg;
    }
  }

  &__title {
    @extend %h2;
    color: $primary;
    max-width: $desktop-up*0.75;
  }
  
  &__subtitle {
    @extend %subtitle;
    margin-top: $spacing-lg - $spacing-md;
    max-width: $desktop-up*0.5;
  }

  &__actions { margin-top: $spacing-lg; }
}

// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

  &--left { align-items: flex-start; text-align: left; }
  &--center { align-items: center; text-align: center; }
  &--right { align-items: flex-end; text-align: right; }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

@mixin color($background-color, $color-title: $primary, $color: $text) {
  background-color: $background-color;
  color: $color;

  & + & {

    .section__container {
      padding-top: 0;
    }
  }

  & + .footer .separator--top {
    fill: $background-color;
  } 

  .section__title {
    color: $color-title;
  }
}

.section {

  &--default { @include color($background-default); }
  &--paper { @include color($background-paper); }
  &--primary { @include color($primary, $primary-text, $primary-text); }
  &--primaryLight { @include color($primary-light); }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

.section__content {

  &--mobile { max-width: $mobile-up; }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.section--landing {
  color: $primary-text;
  align-items: center;

  &:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba($primary, 0.7);
	}

  .section__title { @extend %h1; color: inherit; max-width: $desktop-up*0.5; }
  .section__subtitle { @extend %h5; }
}

// first section of the page for page title
.section--header {

  .section__title { @extend %h1; }
  .section__subtitle { @extend %h5; }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————
