// —————————————————————————————————————————————————————————————————
// elements
// position
// color
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.separator {
  width: 100vw;
  height: auto;
  z-index: 1;
  fill: $background-default;

  path {
    transform: translateY(-1px);
  }
}

// —————————————————————————————————————————————————————————————————
// position
// —————————————————————————————————————————————————————————————————

.separator {

  &--top {
    margin-top: -1px;
  }

  &--bottom {
    margin-bottom: -1px;
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

.separator {

  &--paper { fill: $background-paper; }
  &--primary { fill: $primary; }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.section--landing .separator {
  transform: rotate(180deg);
}
