// ——————————————————————————————————————————————————
// elements
// ——————————————————————————————————————————————————

@mixin font-size($font-size, $font-weight, $line-height) {
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

.h1, %h1 {
	@include font-size(
		$h1-size,
		$h1-weight,
		$h1-line-height
	);
}

.h2, %h2 {
	@include font-size(
		$h2-size,
		$h2-weight,
		$h2-line-height
	);
}

.h3, %h3 {
	@include font-size(
		$h3-size,
		$h3-weight,
		$h3-line-height
	);
}

.h4, %h4 {
	@include font-size(
		$h4-size,
		$h4-weight,
		$h4-line-height
	);
}

.h5, %h5 {
	@include font-size(
		$h5-size,
		$h5-weight,
		$h5-line-height
	);
}

.h6, %h6 {
	@include font-size(
		$h6-size,
		$h6-weight,
		$h6-line-height
	);
}

.subtitle, %subtitle {
	@include font-size(
		$subtitle-size,
		$subtitle-weight,
		$subtitle-line-height
	);
}

.body, %body {
	@include font-size(
		$body-size,
		$body-weight,
		$body-line-height
	);
}

.caption, %caption {
	@include font-size(
		$caption-size,
		$caption-weight,
		$caption-line-height
	);
}

.overline, %overline {
	@include font-size(
		$overline-size,
		$overline-weight,
		$overline-line-height
	);
}
