---
layout: styles
title: Color palette
subtitle: These are the color variables used in the framework. You can override them to match your own design system (see [Customise](/customise) for more information on how to override variables).
---

{% for category in site.data.colors %}
<div class="box">
  <div class="section__header section__header--dense">
    <h2 class="section__title">{{ category.title }}</h2>
    {% if category.subtitle %}
    <div class="section__subtitle editor">{{ category.subtitle | markdownify }}</div>
    {% endif %}
  </div>
  <div class="section__content">
    <div class="grid grid--spacing3">
      {% for subcategory in category.subcategories %}
      <div class="grid grid--spacing2 grid__item">
        {% if subcategory.title %}
        <h3 class="grid__item grid__item--12 subtitle text--bold">{{ subcategory.title }}</h3>
        {% endif %}
        {% for color in subcategory.colors %}
        <div class="grid__item swatch">
          <div class="swatch__color{% if color.hasContrast == true %} stroke--border{% endif %}" style="background-color: {{ color.value }};"></div>
          {% capture color_name %}`${{ color.name }}`{% endcapture %}
          <div>{{ color_name | markdownify }}</div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
