---
layout: styles
title: Typography
subtitle: Typography is at the core of every design system. As text is the most present element on screen, it is decisive in how users will perceive your brand. Having consistent and harmonious font styles is paramount.
lead: |-
  This are the default typographic style. To learn how to manipulate and override the style guide, see the [Customise]({% link _doc/customise.html %}) section and the [Text]({% link _utilities/text.html %}) utility.
---

{% for category in site.data.typography %}
<div class="box">
  <div class="section__header section__header--dense">
    <h2 class="section__title">{{ category.title }}</h2>
    {% if category.subtitle %}
    <div class="section__subtitle editor">{{ category.subtitle | markdownify }}</div>
    {% endif %}
  </div>
  <div class="section__content">
    <div class="grid grid--spacing2 grid--column">
      {% for style in category.styles %}
      <div class="grid__item">
        <p class="{{ style.name }}">{{ style.content }}</p>
        {% capture style_class %}`.{{ style.name }}`{% endcapture %}
        <div>{{ style_class | markdownify }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

