// —————————————————————————————————————————————————————————————————
// responsive
// spacing and size
// position
// display
// misc
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// responsive
// —————————————————————————————————————————————————————————————————

.hide {
	
	&-desktop { @include responsive(down, desktop) { display: none !important; } }
	&-laptop { @include responsive(down, laptop) { display: none !important; } }
	&-tablet { @include responsive(down, tablet) { display: none !important; } }
	&-mobile { @include responsive(down, mobile) { display: none !important; } }
	&-touch { @include responsive-touch { display: none !important; } }
}

.show {

	&-desktop { @include responsive(up, desktop) { display: none !important; } }
	&-laptop { @include responsive(up, laptop) { display: none !important; } }
	&-tablet { @include responsive(up, tablet) { display: none !important; } }
	&-mobile { @include responsive(up, mobile) { display: none !important; } }
}

// —————————————————————————————————————————————————————————————————
// spacing and size
// —————————————————————————————————————————————————————————————————

// margin and padding

.m-05 { margin: $spacing-sm !important; }
.mt-05 { margin-top: $spacing-sm !important; }
.mr-05 { margin-right: $spacing-sm !important; }
.mb-05 { margin-bottom: $spacing-sm !important; }
.ml-05 { margin-left: $spacing-sm !important; }

.p-05 { padding: $spacing-sm !important; }
.pt-05 { padding-top: $spacing-sm !important; }
.pr-05 { padding-right: $spacing-sm !important; }
.pb-05 { padding-bottom: $spacing-sm !important; }
.pl-05 { padding-left: $spacing-sm !important; }

@for $i from 1 through 20 {

  .m-#{$i} { margin: $i*$spacing-sm !important; }
  .mt-#{$i} { margin-top: $i*$spacing-sm !important; }
  .mr-#{$i} { margin-right: $i*$spacing-sm !important; }
  .mb-#{$i} { margin-bottom: $i*$spacing-sm !important; }
  .ml-#{$i} { margin-left: $i*$spacing-sm !important; }

  .p-#{$i} { padding: $i*$spacing-sm !important; }
  .pt-#{$i} { padding-top: $i*$spacing-sm !important; }
  .pr-#{$i} { padding-right: $i*$spacing-sm !important; }
  .pb-#{$i} { padding-bottom: $i*$spacing-sm !important; }
  .pl-#{$i} { padding-left: $i*$spacing-sm !important; }
}

// width

$max: 100;
$step: 5;

@for $i from 1 through calc($max/$step) {
  $value: $i * $step;

  .w-percent-#{$value} { width: $value + 0% !important; }
}

@for $i from 1 through 20 {

	.w-rem-#{$i} { width: $i*$spacing-sm !important; }
}

// —————————————————————————————————————————————————————————————————
// position
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// display
// —————————————————————————————————————————————————————————————————

// general display

.d-flex { display: flex; }
.d-inlineFlex { display: inline-flex; }
.d-block { display: block; }
.d-inlineBlock { display: inline-block; }

// flexbox

.fb {

  &-content { flex-basis: content !important; }
  &-0 { flex-basis: 0 !important; }
  &-1 { flex-basis: 1 !important; }
}

.fg {

  &-0 { flex-grow: 0 !important; }
  &-1 { flex-grow: 1 !important; }
}

.fs {

  &-0 { flex-shrink: 0 !important; }
  &-1 { flex-shrink: 1 !important; }
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————
