---
---

// This file is meant to override some of the components styling specifically for this website.
// The goal is to leave the compponent CSS files free of specific overriding styles.

@import
  "common/_variables"
;

// ——————————————————————————————————————————————————
// library specific styles
// ——————————————————————————————————————————————————

.box {

  &__property {

    & + & {
      border-top: $border;
      margin-top: $spacing-lg;
      padding-top: $spacing-lg;
    }
  }
}

// ——————————————————————————————————————————————————
// alert
// ——————————————————————————————————————————————————

.alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

// ——————————————————————————————————————————————————
// section
// ——————————————————————————————————————————————————

.section {

  & + & {
    border-top: $border;
  }
}
