---
---

@import
  "common/_variables",
  "common/_mixins",

  "modules/_cookie"
;

// ——————————————————————————————————————————————————
// library specific styles
// ——————————————————————————————————————————————————

.box {

  &__property {

    & + & {
      border-top: $border;
      margin-top: $spacing-lg;
      padding-top: $spacing-lg;
    }
  }
}

// ——————————————————————————————————————————————————
// alert
// ——————————————————————————————————————————————————

.alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

// ——————————————————————————————————————————————————
// section
// ——————————————————————————————————————————————————

.section {

  & + & {
    border-top: $border;
  }
}
