---
---

@import
  "common/_variables",
  "common/_mixins",

  "modules/_cookie"
;

// ——————————————————————————————————————————————————
// library specific styles
// alert
// navbar
// section
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// library specific styles
// ——————————————————————————————————————————————————

// icon in navbar

.logo--rabbit {
  float: left;
  transform: translateY(-2px);
  margin-right: $spacing-sm;
}

// subsections on doc pages

.box {

  & + & {
    border-top: $border;
    margin-top: $spacing-lg;
    padding-top: $spacing-lg;
  }

  > .grid--wrap > .grid__item {
    flex-basis: 50%;
  }
}

// color boxes on doc utilities and styles

.swatch {
  width: 160px;
  
  &__color {
    width: 100%;
    height: $spacing-lg;
    border-radius: $border-radius-sm;
    display: inline-flex;
    align-items: center;
    padding: 0 $spacing-sm;
    padding-bottom: 0.2em;
    margin-bottom: $spacing-xs;
  }
}

// ——————————————————————————————————————————————————
// alert
// ——————————————————————————————————————————————————

.alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

// ——————————————————————————————————————————————————
// link
// ——————————————————————————————————————————————————

.link {
  width: 100%;
}

// ——————————————————————————————————————————————————
// navbar
// ——————————————————————————————————————————————————

.navbar {
  box-shadow: none;
}

// ——————————————————————————————————————————————————
// section
// ——————————————————————————————————————————————————

.section {

  & + & {
    border-top: $border;
  }
}
