---
---

@import
  "common/_variables",
  "common/_mixins",

  "modules/_cookie"
;

// ——————————————————————————————————————————————————
// library specific styles
// alert
// navbar
// section
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// library specific styles
// ——————————————————————————————————————————————————

.box {

  & + & {
    border-top: $border;
    margin-top: $spacing-lg;
    padding-top: $spacing-lg;
  }

  > .grid--wrap > .grid__item {
    flex-basis: 50%;
  }
}

// ——————————————————————————————————————————————————
// alert
// ——————————————————————————————————————————————————

.alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

// ——————————————————————————————————————————————————
// link
// ——————————————————————————————————————————————————

.link {
  width: 100%;
}

// ——————————————————————————————————————————————————
// navbar
// ——————————————————————————————————————————————————

.navbar {
  box-shadow: none;
}

// ——————————————————————————————————————————————————
// section
// ——————————————————————————————————————————————————

.section {

  & + & {
    border-top: $border;
  }
}
