---
---

@import
  "../../dist/styles/common/_variables",
  "../../dist/styles/common/_mixins",

  "../../dist/styles/modules/_cookie"
;

// —————————————————————————————————————————————————————————————————
// library specific styles
// alert
// navbar
// section
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// library specific styles
// —————————————————————————————————————————————————————————————————

// icon in navbar

.logo--rabbit {
  float: left;
  transform: translateY(-2px);
  margin-right: $spacing-sm;
}

// subsections on doc pages

.box {

  & + & {
    border-top: $border;
    margin-top: $spacing-lg;
    padding-top: $spacing-lg;
  }

  > .grid--wrap > .grid__item {
    flex-basis: 50%;
  }
}

// color boxes on doc utilities and styles

.swatch {
  width: 200px;
  
  &__color {
    height: $spacing-lg;
    width: 100%;
    border-radius: $border-radius-sm;
    display: inline-flex;
    align-items: center;
    padding: 0 $spacing-sm;
    padding-bottom: 0.2em;
    margin-bottom: $spacing-xs;
    
    td & {
      height: $spacing-md;
      margin-bottom: 0;
    }
  }
}

// index cover

.cover {
  z-index: -1;
  position: absolute;
  top: -$spacing-md;
  right: -$spacing-xxl;
  transform: rotate(-4deg);
  pointer-events: none;

  &:after {
    @include pseudo-element();
    background-image: linear-gradient(90deg, $background-default 25%, rgba($background-default, 0.5) 100%);
  }

  &__item {
    padding: $spacing-sm;
  }

  .alert {
    z-index: 0;
  }
}

// —————————————————————————————————————————————————————————————————
// alert
// —————————————————————————————————————————————————————————————————

.alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

// —————————————————————————————————————————————————————————————————
// link
// —————————————————————————————————————————————————————————————————

.link {
  width: 100%;
}

// —————————————————————————————————————————————————————————————————
// navbar
// —————————————————————————————————————————————————————————————————

.navbar {
  box-shadow: none;
}

// —————————————————————————————————————————————————————————————————
// section
// —————————————————————————————————————————————————————————————————

.section {

  & + & {
    border-top: $border;
  }
}
