<div id="cookie" class="section cookie caption text--regular text--alt">
  <div class="section__container">
    <div>
      <p class="cookie__text">This site uses cookies to deliver better experience. By continuing to browse, you agree to our cookie policy.</p>
      <!-- <a href="https://about-cookies.eu.org" class="cookie-more" target="_blank" rel="noopener">More info...</a> -->
      <button href="javascript:void(0)" class="cookie__button link" onclick="closeCookieNotice()">
        I understand
        {% svg assets/icons/phosphor/check.svg %}
      </button>
    </div>
  </div>
</div>
