<header class="section navbar">
  <div class="section__container">
    <button aria-label="Open mobile menu" class="navbar__button js-button-menu button--menu show-tablet">
      <i class="button__inner"></i>
    </button>
    <div class="navbar__main">
      <div class="navbar__logo text--bold">
        <h1 class="text--primary">
          <a href="{% link index.html %}">{{ site.title }}</a>
        </h1>
      </div>
    </div>
    <nav class="navbar__nav nav">
      <ul class="nav__container">
        {% for item in site.data.nav %}
        <li class="nav__item">
          <a href="{% if item.url %}{% if item.external == true %}{{ item.url }}{% else %}{% link {{ item.url }} %}{% endif %}{% endif %}" 
            {% if item.external == true %}target="_blank" rel="external"{% endif %}
            class="nav__trigger{% if page.path == item.url or page.url contains item.slug %} nav__trigger--active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
