{% assign landing = include.landing %}
{% assign label = include.label %}
{% assign title = include.title %}
{% assign subtitle = include.subtitle %}
{% assign content = include.content %}

<div class="section{% if landing == true %} section--landing{% else %} section--header{% endif %}">
  <div class="section__container">
    <div class="section__header">
      {% if label %}
      <p class="section__label">{{ label }}</p>
      {% endif %}
      <h1 class="section__title">{{ title }}</h1>
      {% if subtitle %}
      <div class="section__subtitle editor">{{ subtitle | markdownify }}</div>
      {% endif %}
    </div>
    {% if content %}
    <div class="section__content">
      {{ content }}
    </div>
    {% endif %}
  </div>
</div>
