<aside class="sidebar">
  <div class="sidebar__container">
    <div class="nav nav--dense nav--portrait">
      <ul class="nav__group">
        <li class="sidebar__title">Getting started</li>
        {% for item in site.doc %}
        <li>
          <a href="{% link {{ item.path }} %}"
            class="nav__item{% if page.name == item.name %} js-active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul class="nav__group">
        <li class="sidebar__title">Variables</li>
        {% for item in site.variables %}
        <li>
          <a href="{% link {{ item.path }} %}"
            class="nav__item{% if page.name == item.name %} js-active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul class="nav__group">
        <li class="sidebar__title">Utilities</li>
        {% for item in site.utilities %}
        <li>
          <a href="{% link {{ item.path }} %}"
            class="nav__item{% if page.name == item.name %} js-active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <ul class="nav__group">
        <li class="sidebar__title">Components</li>
        {% for item in site.components %}
        <li>
          <a href="{% link {{ item.path }} %}"
            class="nav__item{% if page.name == item.name %} js-active{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>
