---
layout: compress
---

{% include containers/header.html %}

<div class="section section--header">
  <div class="section__container">
    <div class="section__header">
      {% if page.label %}
      <p class="caption section__label">{{ page.label }}</p>
      {% endif %}
      <h1 class="h2 section__title">{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="section__subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="grid grid--spacing5 grid--wrap grid--aiBaseline">
      <div class="grid__item">
        <div class="section__header">
          <h2 class="section__title">Elements</h2>
          <div class="section__subtitle editor">
            {{ page.description | markdownify }}
          </div>
        </div>
      </div>  
      {% if page.example %}
      <div class="grid__item">
        <div class="section__content">
{% highlight html %}
{{ page.example }}
{% endhighlight %}
          <div class="mt-2">
            {{ page.example }}
          </div>
        </div>
      </div>    
      {% endif %}
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">Properties</h2>
      <p class="section__subtitle">Add classes to the wrapper class to change the style of the component.</p>
    </div>
    <div class="section__content">
      {{ content }}
    </div>
  </div>
</div>

{% include containers/footer.html %}
