---
layout: component
label: Form
title: Input
subtitle: Handle a complete form field with a label, placeholder and optional notice (which can also be used to display error messages).
description: |-
  The component is composed of multiple elements:

  - `input` the wrapper
    - `input__label` field label
    - `input__control` actual input
    - `input__notice` optional notice (which can also be used to display error messages)

example: |-
  <fieldset class="input input--focused">
    <label for="example" class="input__label">Input</label>
    <input type="text" id="example" class="input__control">
  </fieldset>
---

<!-- ---------------------------------------------- -->
<!-- focused -->
<!-- ---------------------------------------------- -->

{% capture input-focused %}
{% include modules/component-class.html code='class="input input--focused"'
  component = '
    <fieldset class="input input--focused">
      <label for="focused" class="input__label">Focused</label>
      <input type="text" id="focused" class="input__control">
    </fieldset>
  '
%}
{% endcapture %}

{% include modules/component-property.html
  title = 'Focused'
  subtitle = 'Focus a specific input on page load.'
  content = input-focused
%}

<!-- ---------------------------------------------- -->
<!-- error -->
<!-- ---------------------------------------------- -->

{% capture input-error %}
{% include modules/component-class.html code='class="input js--error"'
  component = '
    <fieldset class="input js-error">
      <label for="error" class="input__label">Error</label>
      <input type="text" id="error" class="input__control">
    </fieldset>
  '
%}
{% endcapture %}

{% include modules/component-property.html
  title = 'Error'
  subtitle = 'Notify users that the field has an error.'
  content = input-error
%}

<!-- ---------------------------------------------- -->
<!-- disabled -->
<!-- ---------------------------------------------- -->

{% capture input-disabled %}
{% include modules/component-class.html code='class="input input--disabled"'
  component = '
    <fieldset class="input input--disabled">
      <label for="disabled" class="input__label">Disabled</label>
      <input type="text" id="disabled" class="input__control">
    </fieldset>
  '
%}
{% endcapture %}

{% include modules/component-property.html
  title = 'Disabled'
  subtitle = 'Add this class to signal users the field is disabled. Include `pallote.js` file to your project to automatically add the `disabled` attribute'
  content = input-disabled
%}

<!-- ---------------------------------------------- -->
<!-- required -->
<!-- ---------------------------------------------- -->

{% capture input-required %}
{% include modules/component-class.html code='class="input input--required"'
  component = '
    <fieldset class="input input--required">
      <label for="required" class="input__label">Required</label>
      <input type="text" id="required" class="input__control">
    </fieldset>
  '
%}
{% endcapture %}

{% include modules/component-property.html
  title = 'Required'
  subtitle = 'Add this class to signal users the field is required. Include `pallote.js` file to your project to automatically add the `required` attribute'
  content = input-required
%}
