</main>
</div>
{% include components/footer.html %}
</div>


{% include components/cookie-bar.html %}

<!-- JAVASCRIPT -->
<script src="{% link assets/js/cookie.js %}"></script>
<script src="{% link assets/js/navbar.js %}"></script>

<!-- Netlify CMS login -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>

<!-- Netlify CMS login -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
