</main>
</div>
{% include components/footer.html %}
{% include components/cookie-bar.html %}
</div>

<!-- JAVASCRIPT -->
<script src="{% link dist/scripts/accordion.js %}"></script>
<script src="{% link dist/scripts/button.js %}"></script>
<script src="{% link dist/scripts/cookie.js %}"></script>
<script src="{% link dist/scripts/input.js %}"></script>
<script src="{% link dist/scripts/nav.js %}"></script>
<script src="{% link dist/scripts/navbar.js %}"></script>
<script src="{% link dist/scripts/tabs.js %}"></script>

</body>
</html>
