<!DOCTYPE html>
<html lang="en" class="theme-container">
<head>

	<title>{{ site.title }} | {{ page.title }}</title>	

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0">
	<meta name="color-scheme" content="dark light">

	<!-- FONTS -->
	<link rel="preload" href="{% link assets/fonts/barlow/barlow-regular.woff2 %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% link assets/fonts/barlow/barlow-italic.woff2 %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% link assets/fonts/barlow/barlow-semibold.woff2 %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% link assets/fonts/barlow/barlow-semibold-italic.woff2 %}" as="font" type="font/woff2" crossorigin>

	<!-- CSS -->
	<link rel="stylesheet" href="{% link assets/css/pallote.scss %}">
	<link rel="stylesheet" href="{% link assets/css/style.scss %}">

</head>

<body>

<div class="page page--withSidebar page--{{ page.title | downcase | replace: " ", "-" }}">

{% include components/navbar.html %}

<div class="page__container">
{% if page.url contains '/doc/' %}
{% include components/sidebar.html %}
{% endif %}
<main class="page__content">

